div.box{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    position: relative;
}

div.chartTitle{
    max-height: 10%;
    height: 10%;
    z-index: 1;
}
div.chartEdit{
    position: absolute;
    z-index: 2;
    opacity: 0;
}

div.chartEdit:hover{
    position: absolute;
    z-index: 2;
    opacity: 0.5;
}